body{
    text-align: center;
    background-color: blanchedalmond;
    padding: 5px;
}
h2{
    color: brown;
    font-weight: bold;
    font-family: Verdana, sans-serif;
}
input{
    height:40px;
    width :180px;
}
button{
    background-color: rgb(236, 219, 150);
    color: crimson;
    height: 40px;
    border-radius: 10px;
    font-weight: bold;
}